<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/files/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
 
	<link rel="stylesheet" type="text/css" href="/files/normalize.min.css">
 
</head>
 
<body>

<div class="main_app">




	<div class="info__profile"><span class="info__icon"> <img style="    width: 24px; margin-top: 2px;" src="/files/img/sprite_5.jpg"> </span><div class="info__data"><h2 style="margin-left: -4px;
    font-size: 18px;font-weight: 500;" class="title title--h4 title--bold">{{context['surname']}}</h2> </div><button type="button" class="info__setting" data-open-modal="edit-profile"> <img style="    width: 20px;
    margin-top: -3px;"  src="/files/img/sprite_4.jpg"> </button></div>


    	<div class="header_blocks">
		<img class="header_img" style="margin-left: 5px;" src="/files/img/header_1.jpg">
		<img class="header_img" style="margin-left: 5px;" src="/files/img/header_2.jpg">
		<img class="header_img" style="margin-left: 5px;" src="/files/img/header_3.jpg">
		<img class="header_img"   style="margin-left: 5px;"src="/files/img/header_4.jpg">
		
	</div>



<div class="user-info-card">
  <div class="user-status-card user-status-card--third-level">
    <div class="user-status-card__background">
      <img src="https://lk.teboil.ru/assets/noise-2.07afc852.png" srcset="()=>{const n=su(u.folder,u.imgName+&quot;@2x&quot;,u.format);if(!!n)return`${n} 2x`}" width="372" height="489" alt="фон">
    </div>
    <div class="user-status-card__content">
      <div class="user-status-card__top">
        <p class="user-status-card__level">
          <svg aria-hidden="true" width="20" height="20">
            <use href="/sprite_auto.svg#icon-ruby"></use>
          </svg>
          <span>Рубин</span>
        </p>
        <p class="user-status-card__level-info">Ваш уровень</p>
      </div>
      <div class="user-status-card__block">
        <p class="user-status-card__info">
          <span class="user-status-card__month"> за Май</span>
          <span class="user-status-card__amount" style="    margin-top: 6px;">
            <span data-counter="" data-end="100">{{context['liters']}}</span>
            <span style="    margin-left: -13px;">&nbsp;л</span>
          </span>
        </p>
        <button type="button" class="user-status-card__number" aria-label="номер вашей карты">{{context['card']}}</button>
        <button type="button" class="user-status-card__number-short" aria-label="показать номер вашей карты">
          <span>••••&ensp;7708</span>
        </button>
      </div>
    </div>
  </div>


<div class="info-tabs tabs" data-tabs="parent">
  <div class="info-tabs__controls tabs__controls" data-tabs="controls" data-adaptive-runner="track">
    <div class="adaptive-runner" data-adaptive-runner="runner" style="width: 162.86px; height: 30.91px; transform: translate3d(4px, 4px, 0px);">
      <div class="adaptive-runner__inner" style="width: 162.86px; height: 30.91px;"></div>
    </div>
    <button type="button" class="info-tabs__control tabs__control is-active" data-tabs="control" data-adaptive-runner="checkpoint" data-index="0"> Топливо <span class="red-mark">Teboil+</span>
    </button>
    <button type="button" class="info-tabs__control tabs__control" data-tabs="control" data-adaptive-runner="checkpoint" data-index="1"> Обычное топливо </button>
  </div>
  <div class="info-tabs__content tabs__content" data-tabs="content" style="height: 91px;">
    <div class="info-tabs__element tabs__element hide-checkpoint is-active" data-tabs="element" data-check-rate="">
      <div class="info-tabs__progress hide-checkpoint is-third-level" data-chech-rate="">
        <div class="info-tabs__block info-tabs__block--1">
          <div class="info-tabs__col">
            <span class="info-tabs__text">Баллы</span>
            <span class="info-tabs__icon">
              <svg aria-hidden="true" width="12" height="12">
                <use href="/sprite_auto.svg#icon-tick2"></use>
              </svg>
            </span>
            <span class="info-tabs__text info-tabs__text--small">Литры</span>
          </div>
        </div>
        <div class="info-tabs__block info-tabs__block--2">
          <div class="info-tabs__col">
            <span class="info-tabs__text info-tabs__text--bold">1.5X </span>
            <span class="info-tabs__icon">
              <svg aria-hidden="true" width="12" height="12">
                <use href="/sprite_auto.svg#icon-tick2"></use>
              </svg>
            </span>
            <span class="info-tabs__text info-tabs__text--small">50&nbsp;л </span>
          </div>
        </div>
        <div class="info-tabs__block info-tabs__block--3">
          <div class="info-tabs__col">
            <span class="info-tabs__text info-tabs__text--bold">3X </span>
            <span class="info-tabs__icon" style="padding-left: 2px;">
          <i class="fa fa-check" style="color: white;
    font-size: 10px;
    padding-left: 1px;
    position: absolute;
    padding-top: 4px;" aria-hidden="true"></i>
          
        </span>
            <span class="info-tabs__text info-tabs__text--small">100&nbsp;л </span>
          </div>
        </div>
        <div class="info-tabs__block info-tabs__block--4">
          <div class="info-tabs__col">
            <span class="info-tabs__text info-tabs__text--bold">4.5X </span>
            <span class="info-tabs__icon">
              <svg aria-hidden="true" width="12" height="12">
                <use href="/sprite_auto.svg#icon-tick2"></use>
              </svg>
            </span>
            <span class="info-tabs__text info-tabs__text--small">200&nbsp;л </span>
          </div>
        </div>
        <div class="info-tabs__bar" data-rate-progress="68" style="width: 68%;"></div>
      </div>
    </div>
    <div class="info-tabs__element tabs__element hide-checkpoint" data-tabs="element" data-check-rate="">
      <div class="info-tabs__progress hide-checkpoint is-third-level" data-chech-rate="">
        <div class="info-tabs__block info-tabs__block--1">
          <div class="info-tabs__col">
            <span class="info-tabs__text">Баллы</span>
            <span class="info-tabs__icon">
              <svg aria-hidden="true" width="12" height="12">
                <use href="/sprite_auto.svg#icon-tick2"></use>
              </svg>
            </span>
            <span class="info-tabs__text info-tabs__text--small">Литры</span>
          </div>
        </div>
        <div class="info-tabs__block info-tabs__block--2">
          <div class="info-tabs__col">
            <span class="info-tabs__text info-tabs__text--bold">1X </span>
            <span class="info-tabs__icon">
              <svg aria-hidden="true" width="12" height="12">
                <use href="/sprite_auto.svg#icon-tick2"></use>
              </svg>
            </span>
            <span class="info-tabs__text info-tabs__text--small">50&nbsp;л </span>
          </div>
        </div>
        <div class="info-tabs__block info-tabs__block--3">
          <div class="info-tabs__col">
            <span class="info-tabs__text info-tabs__text--bold">2X </span>
            <span class="info-tabs__icon" style="padding-left: 2px;">
          <svg aria-hidden="true" width="12" height="12">
           </svg><i class="fa fa-check" style="color: white;font-size: 10px; padding-left: 1px;   padding-top: 0.5px;" aria-hidden="true"></i>
          
        </span>
            <span class="info-tabs__text info-tabs__text--small">100&nbsp;л </span>
          </div>
        </div>
        <div class="info-tabs__block info-tabs__block--4">
          <div class="info-tabs__col">
            <span class="info-tabs__text info-tabs__text--bold">3X </span>
          <span class="info-tabs__icon" style="padding-left: 2px;">
          <svg aria-hidden="true" width="12" height="12">
           </svg><i class="fa fa-check" style="color: white;font-size: 10px; padding-left: 1px;   padding-top: 0.5px;" aria-hidden="true"></i>
          
        </span>
            <span class="info-tabs__text info-tabs__text--small">200&nbsp;л </span>
          </div>
        </div>
        <div class="info-tabs__bar" data-rate-progress="68" style="width: 68%;"></div>
      </div>
    </div>
  </div>
  <div class="info-tabs__note">
    <div class="info-tabs__note-head">До следующего уровня осталось:</div>
    <div class="info-tabs__note-values">
      <div class="info-tabs__note-item">
        <div class="info-tabs__note-key">Дни:</div>
        <div class="info-tabs__note-value">1</div>
        <!---->
      </div>
      <div class="info-tabs__note-item">
        <div class="info-tabs__note-key">Литры:</div>
        <div class="info-tabs__note-value">{{context['liters']}}</div>
        <span class="info-tabs__icon" style="padding-left: 2px;">
          <svg aria-hidden="true"  width="12" height="12">
           <i class="fa fa-check" style="color: white;font-size: 10px; padding-left: 1px;   padding-top: 0.5px;" aria-hidden="true"></i>
          </svg>
        </span>
      </div>
      <div class="info-tabs__note-item">
        <div class="info-tabs__note-key">Рубли:</div>
        <div class="info-tabs__note-value">{{context['rub']}}</div>
        <span class="info-tabs__icon" style="padding-left: 2px;">
          <svg aria-hidden="true" width="12" height="12">
            <i class="fa fa-check"  style="color: white;font-size: 10px;  padding-left: 1px;    padding-top: 0.5px;" aria-hidden="true"></i>
          </svg>
        </span>
      </div>
    </div>
  </div>
</div>




</div>

</div>
<div class="main_two">


<div style="z-index: 1;   margin-top: -0.85rem;   margin-bottom: -29px;" class="apps-block"> 

  <div class="apps-block__bg">
    <img src="/files/img/app-decor.2b504707.svg" width="360" height="171" alt="Декоративный элемент">
  </div>

  <div style="    height: 130px;" class="apps-block__card">
  	<div class=" block_card_blns	">
  		<p class="user-status-card__level-info" style="font-size: 14px;
    display: flex;
    justify-content: right;
    color: #040404;
    margin-right: 14px;
    justify-content: flex;">Баланс</p>
    <p class="balance__amount" style="    margin-top: -13px;"><span data-counter="" data-end="45">{{context['balance']}}</span><span class="balance__amount-text">баллов</span></p>

    <div class="balance__btns">
    	<button  class="balance_btn " style="background-color: red; " >  <img class="img_btn" src="/files/img/sprite_2.jpg"> Накопить</button>
    	<button  class="balance_btn  " style="margin-left: 6px;"> <img class="img_btn" src="/files/img/sprite_1.jpg"> Потратить</button>
    	<button  class="balance__btn white" style="    margin-left: 6px;
    margin-right: 14px;">  <img class="img_btn_time" style="width: 128px;" src="/files/img/sprite_3.jpg"> </svg> </button>
    </div>

  </div>
</div>

</div>
</div>

<div class="main_tre">
<h3 class="title title--h2 title--bold">Акции</h3>
<div class="swiper swiper-initialized swiper-horizontal swiper-pointer-events" data-promo-slider="">
  <div class="swiper-wrapper" id="swiper-wrapper-979f2a39a162803a" aria-live="polite" style="cursor: grab; transform: translate3d(0px, 0px, 0px);">
    <div class="swiper-slide swiper-slide-visible swiper-slide-active" role="group" aria-label="1 / 7" style="margin-right: 8px;">
      <div class="product-card">
        <div class="product-card__bg">
          <img src="https://lk.teboil.ru/assets/goods_coffee.592b17f5.jpg" srcset="()=>{const n=su(u.folder,u.imgName+&quot;@2x&quot;,u.format);if(!!n)return`${n} 2x`}" width="140" height="164" alt="card image">
        </div>
        <div class="product-card__wrapper">
          <a class="product-card__text small" style="display: flex;
    justify-content: flex-start;
    font-size: 14px;
    padding-left: 10px;" href="#">Горячий кофе</a>
         
        </div>
      </div>
    </div>
       <div class="swiper-slide" role="group" aria-label="4 / 7" style="margin-right: 8px;">
      <div class="product-card">
        <div class="product-card__bg">
          <img src="https://lk.teboil.ru/assets/goods_breakfast.e3f56c64.jpg" srcset="()=>{const n=su(u.folder,u.imgName+&quot;@2x&quot;,u.format);if(!!n)return`${n} 2x`}" width="140" height="164" alt="card image">
        </div>
        <div class="product-card__wrapper">
          <a class="product-card__text small" style="display: flex;
    justify-content: flex-start;
     font-size: 14px;
    padding-left: 10px;" href="#">Завтраки</a>
     
        </div>
      </div>
    </div>
      <div class="swiper-slide swiper-slide-visible swiper-slide-next" role="group" aria-label="3 / 7" style="margin-right: 8px;"><div class="product-card"><div class="product-card__bg"><img src="https://lk.teboil.ru/assets/goods_grill.29396c12.jpg" srcset="()=>{const n=su(u.folder,u.imgName+&quot;@2x&quot;,u.format);if(!!n)return`${n} 2x`}" width="140" height="164" alt="card image"></div><div class="product-card__wrapper"><a class="product-card__text small" style="display: flex;
    justify-content: flex-start;
     font-size: 14px;
    padding-left: 10px;"  href="#">Гриль-меню</a></div></div></div>


  <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
</div>
</div>
</div>

<div class="navbar" id="myNavbar">
	 <button class="nav_btn" style="    margin-left: -20px;"><img class="nav_img" style="    width: 45px;
    margin-left: -5px;" width="100px" src="/files/img/nav_1.jpg"></button>
	 	 <button class="nav_btn"><img class="nav_img" style="width: 55px;" width="100px" src="/files/img/nav_2.jpg"></button>
  <button onclick="popupToggle()" class="nav_center"><img class="nav_img" style="    width: 110px;
    margin-left: 0px;
    margin-right: 3px;"  src="/files/img/nav_center.jpg"></button>
  	 <button class="nav_btn"><img class="nav_img" style="    width: 41px;" width="100px" src="/files/img/nav_3.jpg"></button>
  	 	 <button class="nav_btn" style=""><img style="    width: 31px;
    margin-left: 6px;" class="nav_img" width="100px" src="/files/img/nav_4.jpg"></button>
 
</div>



<div id="hideMe" class="mask"> 
         <div id="popup">
         	<div class="teb">
	<img class="logo_teboil" src="/files/img/logo.svg"></div>
  <div class="content" style="margin-top: 33px;">
   
   <div class="main_qr">
   	<div class="blocks_qr" >
   		<div class="box_qr" style="    width: 166px;"> 
   			<span class="user-status-card__level-info" style="font-size: 12px;
    font-weight: 600;">Ваш уровень</span>
   			<h1 class="user-status-card__level" style="    font-size: 23px;
    font-weight: 800;
    padding-top: 9px;">Рубин</h1>
   		</div>
   		<div class="box_qr" style="    margin-left: 12px; width: 136px;">
   			<span class="user-status-card__level-info"style="font-size: 12px;
    font-weight: 600;">Баллы</span>
   			<h1 class="user-status-card__level" style="    font-size: 23px;
    font-weight: 800;
    padding-top: 9px;">{{context['balance']}}</h1>
   		</div>
   	</div>
<div class="box_main_qr">
    <img class="qr_code" style="     max-width: 100%; " src="https://api.qrserver.com/v1/create-qr-code/?size=420x420&amp;data={{context['card']}}" id="card_qr">
     </div>
     <div class="text_qr">
	<p class="p_text">Отсканируйте QR-код на кассе <br> для начисления или списания баллов</p>
</div>
     <div class="addblock">
   



    	<span style="        color: white;
    display: flex;
    /* position: absolute; */
    padding-left: 26px;
       
    font-weight: 600;
   
    padding-top: 13%;
    

    font-size: 16px;
    /* flex-direction: row;
">Двойная выгода</span>
     </div>
     </div>
  </div>

    <a class="close" onclick="popupToggle();" ><i class="fa fa-times" aria-hidden="true" style="
    color: white;
    /* padding: 4px; */
    padding-left: 6.5px;
    font-size: 16px;
    padding-top: 4px;
"></i><a>
</div>
</div>


<script>
function popupToggle(){
    const  popup = document.getElementById('popup');
    popup.classList.toggle('active')
    document.documentElement.requestFullscreen()
}
</script>    
      
  
 
       
</body>
</html>